.f-5 {
    font-size: 5rpx;
}

.f-6 {
    font-size: 6rpx;
}

.f-7 {
    font-size: 7rpx;
}

.f-8 {
    font-size: 8rpx;
}

.f-9 {
    font-size: 9rpx;
}

.f-10 {
    font-size: 10rpx;
}

.f-11 {
    font-size: 11rpx;
}

.f-12 {
    font-size: 12rpx;
}

.f-13 {
    font-size: 13rpx;
}

.f-14 {
    font-size: 14rpx;
}

.f-15 {
    font-size: 15rpx;
}

.f-16 {
    font-size: 16rpx;
}

.f-17 {
    font-size: 17rpx;
}

.f-18 {
    font-size: 18rpx;
}

.f-19 {
    font-size: 19rpx;
}

.f-20 {
    font-size: 20rpx;
}

.f-21 {
    font-size: 21rpx;
}

.f-22 {
    font-size: 22rpx;
}

.f-23 {
    font-size: 23rpx;
}

.f-24 {
    font-size: 24rpx;
}

.f-25 {
    font-size: 25rpx;
}

.f-26 {
    font-size: 26rpx;
}

.f-27 {
    font-size: 27rpx;
}

.f-28 {
    font-size: 28rpx;
}

.f-29 {
    font-size: 29rpx;
}

.f-30 {
    font-size: 30rpx;
}

.f-31 {
    font-size: 31rpx;
}

.f-32 {
    font-size: 32rpx;
}

.f-33 {
    font-size: 33rpx;
}

.f-34 {
    font-size: 34rpx;
}

.f-35 {
    font-size: 35rpx;
}

.f-36 {
    font-size: 36rpx;
}

.f-37 {
    font-size: 37rpx;
}

.f-38 {
    font-size: 38rpx;
}

.f-39 {
    font-size: 39rpx;
}

.f-40 {
    font-size: 40rpx;
}

.fw-b{
  font-weight: 600;
}